nav {
    background: none;
    position: relative;
    min-height: 70px;
}

nav ul {
    font-size: 0;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
    font-family: "ONE-Mobile-POP";
}

.menu_item:hover {
    color: var(--color-darkgreen);
}

/*드롭메뉴바*/
.sub_menu_ul {
    display: block;
    position: absolute;
    top: 40px;
    right: -200px;
    width: 780px;
    background-color: var(--color-green);
    border-radius: 100px;
    padding: 3px;
    text-align: center;
    z-index: 10;
    transition: 200px 0.3s ease-out;
}

.sub_menu_ul li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.sub_menu_ul li a {
    display: block;
    margin-right: 10px;
    color: white;
    padding: 10px 14px;
}

.sub_menu_ul li:first-child a {
    margin-left: 10px;
}

.sub_menu_ul li a:hover {
    color: var(--color-darkgreen);
}
